.left-panel {
  background: #0e0d0c;
}

.profile-img-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #36507F;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  color: #a0a0b0;
  font-size: 1 rem;
  line-height: 1.7;
}

.right-panel {
  background: rgba(0, 0, 0, 0.2);
}

.skill-category {
  color: #6495ED;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.badge-skill {
  background: #292524;
  color: white;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 1rem;
  display: inline-block;
}